<settings>

<servers>
	<server>
		<id>lrs-artifacts</id>
		<username>AKIAVESNZYMM3LRAALMG</username>
		<password>Iz6WvA+lD/YDWwoK2aagAsNIEeaj1N73PSF0WU9/</password>
	</server>
	<server>
		<id>lrs-artifacts-release</id>
		<username>AKIAVESNZYMM3LRAALMG</username>
		<password>Iz6WvA+lD/YDWwoK2aagAsNIEeaj1N73PSF0WU9/</password>
	</server>
</servers>

</settings>
